* {
    margin: 0;
    text-decoration: none;
}

body {
    font-size: 25px;
    line-height: 2em;

}

#menu {
    height: 12em;
    text-align: center;
    margin: 15.35em 0 0 -35px;
    right: -411px;
    transition: .4s;
}

#menu #menu-bar .button {
    list-style: none;
    color: black;
    font-size: 30px;
    padding: 13px 3em 15px 4em;
}

#menu #toggle-btn {
    position: fixed;
    top: 30px;
    left: 220px;
}

#toggle-btn span {
    width: 45px;
    height: 7px;
    background: black;
    display: block;
    margin-top: 4px;
}

#header {
    width: 98%;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #000;
    background: aqua;
}

#menu-bar {
    list-style: none;
    padding: 0;
}

header #menu-bar .button .link {
    text-decoration: none;
    color: black;
}

#logo {
    width: 35px;
    padding-left: 15px;
    object-fit: cover;
}

#menu.active {
    position: absolute;
    right: 5px;
    background: aqua;
    border-bottom: 2px solid black;
}

#menu.active #toggle-btn {
    left: 220px;
}

#menu.active li {
    border-top: 2px solid black;
}

.memoji {
    width: 7em;
    padding: 0 34.7px;
}

.About-fix {
    padding: 0 60px;
}

#box-1 {
    padding: 0 30px;
    width: 7.3em;
}

h1 {
    padding: 0 30px;
    font-size: 45px;
    width: 4.7em;
}

#About-fix {
    padding: 5px 25px;
    width: 5.9em;
}

#info {
    padding: 0 45px;
}

.projectCon {
    padding: 0 35px;
    color: black;
}

#Project-fix {
    padding: 10px 25px;
}

#Bookshelf-img {
    width: 80%;
    height: 35%;
    padding: 0px 34px;
}

#Weather-img {
    width: 80%;
    height: 5em;
    padding: 20px 34px;
}

#Contact-section {
    padding: 5px 25px 0 25px;
}

#info-card {
    padding: 0 10px;
}

#GitHub,
#Linked {
    color: black;
}

#almost {
    font-size: 23px;
}

#last {
    font-size: 23px;
}

footer {
    padding: 0 28px;
    width: 9em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 300px) {
    #menu #toggle-btn {
        left: 300px;
    }

    #menu.active #toggle-btn {
        left: 300px;
    }

    #menu.active {
        position: absolute;
        right: 0;
        width: 15.1em;
    }

    #menu.active li {
        border-top: 2px solid black;
        width: 5.5em;
        height: 1.5em;
    }

    .memoji {
        width: 12em;
    }

    h1 {
        width: 5em;
        padding: 0px 70px;
    }

    #box-1 {
        padding: 0 45px;
        width: 11em;
    }

    footer {
        padding: 0 72px;
    }
}

@media screen and (min-width: 400px) {
    #menu {
        width: 13.9em;
    }

    #menu #toggle-btn {
        left: 345px;
    }

    #menu.active #toggle-btn {
        left: 340px;
    }

    #toggle-btn span {
        width: 45px;
        height: 9px;
    }

    .memoji {
        padding: 0 55px;
    }

    h1 {
        padding: 0px 102px;
        width: 220px;
    }

    #skill-text {
        padding-left: 30px;
    }

    #double {
        display: flex;
        flex-direction: column;
        margin: -250px 0 0 6.5em;
    }
}

@media screen and (min-width: 750px) {
    #logo {
        width: 45px;
    }

    #menu #toggle-btn {
        left: 23em;
    }

    #menu.active #toggle-btn {
        left: 23em;
    }

    .memoji {
        width: 15em;
        padding: 0 5em;
    }

    h1 {
        padding: 0px 70px;
        width: 14em;
    }

    #box-1 {
        padding: 0px 7em;
    }

    #skill-text {
        padding-left: 3em;
    }

    #double {
        display: flex;
        flex-direction: column;
        margin: -300px 0 0 10em;
    }

    #Bookshelf-img {
        padding: 0 5em;
    }

    #Weather-img {
        width: 15em;
        padding: 5px 5em;
        height: 10em;
    }

    #almost {
        display: flex;
        justify-content: space-between;
    }

    #Linked {
        margin-right: 6em;
    }

    footer {
        padding: 0 8em;
    }
}

@media screen and (min-width: 810px) {
    #menu #toggle-btn {
        left: 25em;
    }

    #toggle-btn span {
        width: 50px;
        height: 10px;
    }

    .memoji {
        padding: 0 6em;
    }
}

@media screen and (min-width: 900px) {
    #menu #toggle-btn {
        left: 28em;
    }

    .memoji {
        padding: 0 7.7em;
    }

    h1 {
        padding: 0px 3.1em;
        width: 14em;
    }

    #About-fix {
        padding: 5px 45px;
    }

    #Bookshelf-img {

        padding: 0 4em;
    }

    #Weather-img {
        width: 17em;
        padding: 5px 6em;
        height: 13em;
    }
}

@media screen and (min-width: 1010px) {
    #menu #toggle-btn {
        left: 31em;
    }

    .memoji {
        padding: 0 9.5em;
    }

    h1 {
        padding: 0px 4em;
        width: 14em;
    }

    #box-1 {
        padding: 0px 11em;
    }

    #Bookshelf-img {
        padding: 0 8em;
    }

    #Weather-img {
        width: 18em;
        padding: 5px 8em;
        height: 12em;
    }
}

@media screen and (min-width: 1270px) {
    #logo {
        width: 55px;
    }

    #menu #toggle-btn {
        left: 40em;
    }

    .memoji {
        width: 20em;
        padding: 0 11.34em;
    }

    h1 {
        padding: 0px 7.2em;
    }

    #box-1 {
        padding: 0px 15.84em;
    }

    #Bookshelf-img {
        padding: 0 11.34em;
    }

    #Weather-img {
        width: 20em;
        padding: 5px 11.34em;
        height: 15em;
    }

    footer {
        padding: 0 16.82em;
        width: 9em;
    }
}

@media screen and (min-width: 2500px) {
    #menu #toggle-btn {
        left: 82.8em;
    }

    .memoji {
        padding: 0 32.39em;
    }

    h1 {
        padding: 0px 21.26em;
    }

    #box-1 {
        width: 11em;
        padding: 0 36.89em;
    }

    #info {
        display: flex;
        justify-content: space-between;
        margin: 0 5em;
    }

    #image {
        display: flex;
    }

    #Weather-img {
        padding: 5px 11em;
    }

    #almost {
        padding: 0 25em;
    }

    #last {
        padding: 0 25em;
    }

    footer {
        padding: 0 37.89em;
    }
}