* {
    margin: 0;
}


body {
    font-size: 30px;
    line-height: 2em;
}


aside {
    border-right: 5px solid aqua;
}


section {
    flex-direction: column;
}


h1 {
    font-size: 50px;
    text-align: center;
    position: relative;
}


h2 {
    font-size: 40px;
}


ul {
    text-decoration: none;
}




a {
    text-decoration: none;
    color: black;
}


li {
    padding: 0 50px;
}


figure {
    display: flex;
    justify-content: center;
}


#header {
    background-color: aqua;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}


#logo {
    width: 100px;
    object-fit: cover;
}


#menu-bar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex: 1;
}


.about-me {
    margin: 4em 50px ;
    
}


.place-holder {
    width: em;
}

.memoji {
    width: 5em;
}


#box-1 {
    display: flex;
    justify-content: center;
}


#About {
    display: flex;
}

#About-fix {
    font-size: 36px;
    margin: 0 34px;
    width: 5.2em;
}


#info {
    display: flex;
    flex-direction: row;
}



div#box-2.Column {
    padding: 0 0 0 5em;
}


#skills {
    width: 5em;
}


#skill-text {
    list-style: none;
    line-height: 1.5em;
    padding: 0;
}


#skill-text li {
    padding: 0;
}


div#know-more.Column {
    padding: 0 0 0 2em;
}


#know-more {
    padding-left: 22em
}


#know-title {
    width: 100%;
}


#know-text {
    text-decoration: none;
    line-height: 1.5em;
    width: 100%;
}


#project-title {
    width: auto;
}


#Project {
    display: flex;
}


#Project-fix {
    padding-right: 30px;
}


#images {
    padding-left: 5em;
}


.Project-imgs {
}


#horiseon-img {
    width: 70em;
    height: 50%;
    flex: 2 1 auto;
}


#Trip-fixed-img {
    width: 23em;
    height: 33em;
    flex-grow: 1;
}


#Car-fixed-img {
    width: 23em;
    height: 33em;
    flex-grow: 1;
}


#Gaming-fixed-img {
    width: 23em;
    height: 33em;
    flex-grow: 1;
}


#Contact-section {
    display: flex;
}


.Contact {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    height:
}


#Contact-fix {
    width: 6em;
    margin-right: 1.9em;
    margin-left: 0px;
}


.Title-me h2 {
    margin: 0 50px;
}


#info-card {
    display: flex;
    justify-content: space-between;
    padding-left: 6em;
    width: 70em;
}


footer {
    text-align: center;
}



@media screen and (max-width: 1202px) {
    li {
        padding: 0px 66px;
    }
   
    #About-fix {
        width: 5.2em;
    }

    #Contact-fix {
        width: 5.5em;
        margin-left: 5px;
        margin-right: 73px;
    }

    .Contact {
        height: 7em;
    }

    #info-card {
        padding-left: 5em;
    }
    
    #phone {
        width: 9em;
        padding-right: 5em;
        
    }
    
    #email {
        width: 8.5em;        
    }

    #GitHub {
        width: 8.5em;
        padding-right: 5em;
        position: absolute;
        padding-top: 5em;
    }

    #Linked {
        width: 8.5em;
        position: absolute;
        padding-top: 5em;
        padding-left: 14.8em;
    }
    
    #horiseon-img {
        width: 24.4em;
        height: 20em;
    }

    #Trip-fixed-img, #Car-fixed-img, #Gaming-fixed-img {
        width: 7.95em;
        height: 15em;
    }
}

@media screen and (max-width: 1026px) {
    #header {
        width: 34.3em;
        font-size: 30px;
    }
    
    #info-card {
        padding-left: 2em;
    }


    #About {
        display: flex;
        flex-wrap: wrap;
    }


    div#box-2.Column, div#know-more.Column {
        padding-left: 2em;
    }


    #know-more {
        width: 12em;
    }

    #images {
        padding-left: 2em;
    }

    li {
        padding: 0 25px;
    }

    .Contact {
        height: 7em;
    }

    #horiseon-img {
        width: 20em;
        height: 17em;
    }

    #Trip-fixed-img, #Car-fixed-img, #Gaming-fixed-img {
        width: 6.5em;
        height: 14em;
    }

    #phone {
        width: 9em;
        padding-right: 0;
    }
    
    #email {
        width: 10.5em;        
    }

    #GitHub {
        width: 8.5em;
        padding-right: 5em;
        position: absolute;
        padding-top: 5em;
    }

    #Linked {
        width: 8.5em;
        position: absolute;
        padding-top: 5em;
        padding-left: 9.95em;
    }
}


@media screen and (max-width: 770px) {
    body {
        font-size: 35px;
    }

    #header {
        width: 25.8em;
        font-size: 30px;
    }

    #menu-bar {
        font-size: 29px;
    }

    #Hello-box {
        width: 19.15em;
    }

    aside {
        border-right: 0;
        border-bottom: 5px solid aqua; 
    }

    #menu-bar {
        font-size: 29px;
    }

    #About-fix {
        width: 18em;
        margin: 0;
    }

    div#box-2.Column {
        padding-left: 0;
    }

    div#know-more.Column {
        padding-left: 44.5px;
        width: 12em;
    }

    #Project {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 0;
    }

    #Project-fix {
        padding-right: 0;
        margin: 0;
    }

    #images {
        padding-left: 0;
        padding-top: 1em;
    }

    #horiseon-img {
        width: 19em;
    }

    #Trip-fixed-img, #Car-fixed-img, #Gaming-fixed-img {
        width: 6.2em;
        height: 10em;
    }

    #Contact-section {
        flex-wrap: wrap;
    }

    #Contact-fix {
        height: 2em;
        width: 18.5em;
    }

    #info-card {
    padding-left: 0;
    }

    #GitHub {
        width: 8.5em;
        padding-right: 5em;
        position: absolute;
        padding-top: 2em;
    }

    #Linked {
        width: 8.5em;
        position: absolute;
        padding-top: 2em;
        padding-left: 9.95em;
    }
}


@media screen and (max-width: 482px) {
    body {
    font-size: 20px;
    }

    li {
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }


    h2 {
        font-size: 30px; 
    }

    aside{
        border-bottom: 5px solid aqua;
        width: 19em;
    }

    #logo {
        width: 70px;
    }


    #header {
        width: 16.1em;
    }

    #Hello-box{
        width: 20em;
    }

    #About-fix {
        width: 10.5em;
    }

    #menu-bar {
        font-size: 20px;
        font-weight: 600;
        padding-left: 0;
    }


    .about-me-1 {
        margin-left: 5em;
    }


    #About h2 {
        margin: 2em 0 1em 0;
    }

    #Contact-fix {
        width: 13em;
    }

    #Trip-fixed-img, #Car-fixed-img, #Gaming-fixed-img {
        width: 6.1em;
        height: 13em;
    }

    #Linked {
        padding-left: 9em;
    }
}


@media screen and (max-width: 320px) {
    aside {
        width: 14em;
    }   

    .about-me {
        margin-left: 25px;
    }

    #header {
        width: 10.7em;
    }

    #menu-bar {
        flex-wrap: wrap;
        width: 12em;
    }

    #ProjectBtn {
        padding-right: 3em;
    }
 
    #ContactBtn {
        padding-right: 1em;
    }

    .about-me #Hello-box {
        margin-bottom: 0;
    }

    #Hello-box {
        width: 13em;
        margin-bottom: 2em;
    }

    #About h2{
        margin: 1em 0 0.5em 0;
    }

    #About-fix {
        height: 25px;
        width: 7em;
    }

    #info {
        flex-wrap: wrap;
    }

    div#know-more.Column {
        padding-left: 0;
        padding-top: 25px;
        width: 13em;
    }

    #image {
        width: 13em;
    }

    #horiseon-img, #Trip-fixed-img, #Car-fixed-img, #Gaming-fixed-img {
        width: 13em;
        height: 13em;
    }

    #Contact-section {
        height: 7em;
        margin-bottom: 7em;
    }

    #Contact-fix {
        height: 1.5em;
        width: 8.5em;
    }

    #info-card {
        flex-wrap: wrap;
    }

    #GitHub {
        width: 8.5em;
        padding-right: 0;
        position: absolute;
        padding-top: 4em;
    }

    #Linked {
        width: 8.5em;
        position: absolute;
        padding-top: 6em;
        padding-left: 0;
    }
}