* {
    margin: 0;
    text-decoration: none;
}


body {
    font-size: 30px;
    line-height: 2em;
    
}

#menu {
    width: 13.73em;
    height: 12em;
    text-align: center;
    margin: 15.35em 0 0 -35px;
    right: -411px;
    transition: .4s;
}


#menu #menu-bar .button {
    list-style: none;
    color: black;
    font-size: 30px;
    padding: 13px 3em 15px 4em;
}

#menu #toggle-btn {
    position: fixed;
    top: 30px;
    left: 310px;
}



#toggle-btn span {
    width: 45px;
    height: 7px;
    background: black;
    display: block;
    margin-top: 4px;
}

#header {
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px #000;
    background: aqua;
}

#menu-bar {
    list-style: none;
    padding: 0;
}

header #menu-bar .button .link {
    text-decoration: none;
    color: black;
}

#logo {
    width: 35px;
    padding-left: 15px;
    object-fit: cover;
}

#menu.active {
    position: absolute;
    right: 0;
    background: aqua;
    border-bottom: 2px solid black;
}

#menu.active #toggle-btn {
    left: 310px; 
}

#menu.active li{
    border-top: 2px solid black;
}

.memoji {
    width: 10em;
    padding: 0 38px;
}

.About-fix {
    padding: 0 60px;
}

#box-1 {
    padding: 0 33px;
}

h1 {
    padding: 0 80px;
    font-size: 45px;
}

#About-fix {
    padding: 5px 25px;
}

#info {
    padding: 0 45px;
}

.projectCon {
    padding: 0 44px;
    color: black;
}

#Project-fix {
    padding: 20px 45px;
}

#Bookshelf-img {
    width: 10em;
    height: 6em;
    padding: 0 45px;
}

#Weather-img {
    width: 10em;
    padding: 5px 45px;
    height: 5em;
}

#Contact-section {
    padding: 25px 45px 0 45px;
}

#GitHub, #Linked {
    color: black;
}

footer {
    padding: 0 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#last {
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 400px) {
    #menu {
        width: 13.9em;
    }
    
    #menu #toggle-btn {
        left: 345px;
    }

    #menu.active #toggle-btn {
        left: 340px;
    }

    #toggle-btn span {
        width: 45px;
        height: 9px;
    }

    .memoji {
        padding: 0 55px;
    }

    h1 {
        padding: 0px 102px;
        width: 220px;
    }

    #skill-text {
        padding-left: 30px; 
    }

    #double {
        display: flex;
        flex-direction: column;
        margin: -300px 0 0 6.5em;
    }
}

@media screen and (min-width: 750px) {
    #logo {
        width: 45px;
    }
    
    #menu #toggle-btn {
        left: 23em;
    }

    #menu.active #toggle-btn {
        left: 23em;
    }

    .memoji{
        width: 15em;
        padding: 0 5em;
    }

    h1 {
        padding: 0px 70px;
        width: 14em;
    }

    #box-1 {
        padding: 0px 7em;
    }

    #skill-text {
        padding-left: 3em; 
    }

    #double {
        display: flex;
        flex-direction: column;
        margin: -300px 0 0 10em;
    }

    #Bookshelf-img {
        width: 15em;
        height: 10em;
        padding: 0 5em;
    }

    #Weather-img {
        width: 15em;
        padding: 5px 5em;
        height: 10em;
    }

    #almost {
        display: flex;
        justify-content: space-between;
    }

    #Linked {
        margin-right: 6em;
    }

    footer {
        padding: 0 8em;
    }
}

@media screen and (min-width: 810px) {
    #menu #toggle-btn {
        left: 25em;
    }

    #toggle-btn span {
        width: 50px;
        height: 10px;
    }

    .memoji {
        padding: 0 6em;
    }
}

@media screen and (min-width: 1010px) {
    #menu #toggle-btn {
        left: 31em;
    }

    .memoji {
        padding: 0 9.5em;
    }

    h1 {
        padding: 0px 4em;
        width: 14em;
    }

    #box-1 {
        padding: 0px 11em;
    }

    #Bookshelf-img {
        width: 18em;
        height: 12em;
        padding: 0 8em;
    }

    #Weather-img {
        width: 18em;
        padding: 5px 8em;
        height: 12em;
    }
}